---
layout: page
title: Computational biology
subtitle: Catalina Anghel
meta-title: "Catalina Anghel"
bigimg:
  - "/img/big-imgs/placentaFlower.png" : "Placenta vasculature (a pretty mistake in finding image regions)"
  - "/img/big-imgs/quonLab.png" : "Quon lab outing to Point Reyes: Erjia Cui, Nelson Johansen, Gerald Quon, and Rita Li"
  - "/img/big-imgs/JenMeiAndKara.jpg" : "Colleagues Jen Mei Chang and Karamatou (Kara) Yacoubou Djima"
  - "/img/big-imgs/rollyComputerCropped.jpg" : "My sleepy coding partner"
  - "/img/big-imgs/tsneSingleCell.png" : "t-SNE, neural cells"
  - "/img/big-imgs/placentaTrace.png" : "Trace of the placenta vasculature automatically detected from a photo"
---

Hello world.

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
